/* основний текст #757575 */
/* другоряний колір #212121 */
/* білий #FFFFFF */
/* наведення #2196F3 */
/* адреса  rgba(255, 255, 255, 0.6)*/
/* фон  #E5E5E5*/
/* фон 2 #f5f4fa */
/* фон подвал #2f303a */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --adres-text-color: rgba(255, 255, 255, 0.6);
  --background: #E5E5E5
  --second-background: #f5f4fa;
  --footer-background: #2f303a;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

header{
    background-color: var(--primary-white-color);
}
.adres-nav a {
  color: var(--primary-text-color);
}

nav a {
  color: var(--title-text-color);
}

nav .list :hover,
nav .list :focus {
  color: var(--accent-color);
}

nav span {
  color: var(--accent-color);
}

.hero{
   background-image: url(../images/header.jpg);
    /* background-color: rgba(47, 48, 58, 0.8); */
}
h1 {
  color: var(--primary-white-color);
}

.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.function a {
  background-color: var(--second-background);
}
.function a:hover,
.function a:focus {
  background-color: var(--accent-color);
}
.function h3 {
  color: var(--title-text-color);
}

.function p {
  color: var(--primary-text-color);
}

.propose h2 {
  color: var(--title-text-color);
}
.propose h3 {
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}
.team {
  background-color: var(--second-background);
}
.team h2 {
  color: var(--title-text-color);
}
.team h3 {
  color: var(--title-text-color);
}
.team p {
  color: var(--primary-text-color);
}
.team a:hover,
.team a:focus {
  background-color: var(--accent-color);
}

.company {
  color: var(--title-text-color);
}
.company a:hover,
.company a:focus {
  background-color: var(--accent-color);
}
footer a {
  color: var(--primary-white-color);
}
footer {
  color: var(--primary-white-color);
  background-color: var(--footer-background);
}

address a {
  color: var(--adres-text-color);
}

footer p {
  color: var(--adres-text-color);
}
footer span {
  color: var(--accent-color);
}

.join a:hover,
.join a:focus  {
    background-color: var(--accent-color);
}
/* css portfolio */
.menu {
  color: var(--title-text-color);
}
.menu li{
    background-color: var(--second-background);
    border-radius: 4px;
}
.menu li:hover,
.menu li:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.project a:hover,
.project a:focus{
    background-color: var(--accent-color)
}
.project h3 {
  color: var(--title-text-color);
}
.project p {
  color: var(--primary-text-color);
}

/* background-color */

body {
  background-color: var(--background);
}
